<td
  style="
    width: 775px;
    min-width: 775px;
    font-size: 0pt;
    line-height: 0pt;
    padding: 0;
    margin: 0;
    font-weight: normal;
  "
>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <!-- Main -->
    <tbody>
      <tr>
        <td bgcolor="#070720" style="padding: 80px">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <!-- Logo -->
            <tbody>
              <tr>
                <td
                  style="
                    font-size: 0pt;
                    line-height: 0pt;
                    text-align: left;
                    padding-bottom: 45px;
                  "
                >
                  <img
                    src="../resources/icon/logo.png"
                    width="500"
                    height="200"
                    border="0"
                    alt="Steam"
                    loading="lazy"
                  />
                </td>
              </tr>
              <!-- END Logo -->

              <!-- All Content Exists within this table column -->
              <tr>
                <td>
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-size: 36px;
                            line-height: 42px;
                            font-family: Arial, sans-serif, 'Motiva Sans';
                            text-align: left;
                            padding-bottom: 30px;
                            color: #bfbfbf;
                            font-weight: bold;
                          "
                        >
                          EGame 이메일 인증
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-size: 18px;
                            line-height: 25px;
                            font-family: Arial, sans-serif, 'Motiva Sans';
                            text-align: left;
                            color: #dbdbdb;
                            padding-bottom: 30px;
                          "
                        >
                          홈페이지 방문을 환영합니다. 아래 인증번호를 입력해
                          주세요.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td style="padding-bottom: 70px">
                          <table
                            width="100%"
                            border="0"
                            cellspacing="0"
                            cellpadding="0"
                            bgcolor="#17191c"
                          >
                            <tbody>
                              <tr>
                                <td
                                  style="
                                    padding-top: 30px;
                                    padding-bottom: 30px;
                                    padding-left: 56px;
                                    padding-right: 56px;
                                  "
                                >
                                  <table
                                    width="100%"
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          style="
                                            font-size: 48px;
                                            line-height: 52px;
                                            font-family: Arial, sans-serif,
                                              'Motiva Sans';
                                            color: #3a9aed;
                                            font-weight: bold;
                                            text-align: center;
                                          "
                                        >
                                          42RJF
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody></tbody>
                  </table>
                  <table
                    width="100%"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="
                            font-size: 18px;
                            line-height: 25px;
                            font-family: Arial, sans-serif, 'Motiva Sans';
                            text-align: left;
                            color: #7abefa;
                            padding-bottom: 40px;
                          "
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>




